//Colors Background
$color-back-white : #ffffff;
$color-back-black : #000000;
$color-back-gray: #f8f9fb;
$color-back-red : #ff1550;
$color-back-blue : #1279ff;
$color-back-dark : #202228;
$color-back-underline : #ef2646;

//Colors font
$color-text-white : #ffffff;
$color-text-black : #000000;
$color-text-gray: #cdcdcd;
$color-text-gray-dark: #bababa;
$color-text-gray-input: #cccccc;
$color-text-footer: #5c646a;
//Font


