<!DOCTYPE html>
<html>
<head>
  <title>Templarbit</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="stylesheets/slick.css"/>
  <script src="javascripts/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="javascripts/slick.js"></script>
  <script src="javascripts/site.js"></script>
  
</head>
<body>
  <nav class="navbar navbar-expand-lg sticky-header  navbar-light">
    <div class="sticky-header__logo">
      <img src="images/logo.png">
      <h1>Templarbit</h1>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" data-hover="dropdown" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item sticky-header__navigation">
          <a class="nav-link" href="#">Product<span class="sr-only">(current)</span></a>
          <li class="nav-item sticky-header__navigation"><a class="nav-link" href="#">Solutions</a></li>
          <li class="nav-item sticky-header__navigation"><a class="nav-link" href="#">Pricing</a></li>
        </li>
        <li class="nav-item dropdown sticky-header__navigation">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">The Engineering Hangout</a></li>
          </ul>
        </li>
      </ul>
      <li class="nav-item sticky-header__navigation">
      <a class="nav-link sticky-header__navigation--login" href="#">Login <img src="images/rightarrow.png"></a>
    </li> 
    </div>
  </nav>

  <div class="main">
    <div class="main__headline">
      <h1>Evolve your security,</br>power it with intelligence.</h1>
      <h6>Prevent attacks on your applications and APIs before they affect your </br>business with a more intelligent security platform.</h6>
      <div class="main__headline--button">
        <a href="#" class="main__button">Get started<img src="images/rightarrowW.png" class="buttonarrow"></a>
        <a href="#" class="main__headline--button-discover">or discover how it works</a>
      </div>
    </div>
    <div class="main__new">
      <div class="main__new--alert">NEW</div>
      <div class="main__new--text">> Templarbit now available in the official Docker Store</div>
    </div>
  </div>
  <div class="polygon"></div>
 
  <div class="overview">
    <div class="overview__article">
      <h3 class="overview__article--header">Defending applications</br>in a smarter way</h3>
      <div class="overview__article--underline"></div>
      <div class="overview__article--content">To monitor and defend the complexity of software applications continuously at scale is a challenging task for humans. So we built Templarbit from the ground up to be powered by AI that can look at more data and make decisions faster.</div>
      <div class="overview__article--content-l">To monitor and defend the complexity of software applications continuously at scale is a challenging task for humans. So we built Templarbit from the ground up to be powered by AI that can look at more data and make decisions faster.</div>
      <a href="#" class="main__button overview__button">Get started<img src="images/rightarrowW.png" class="buttonarrow"></a>
    </div>
    <div class="overview__ad">
      <div class="overview__ad--upperblock">
        <div class="overview__ad--upperblock-img"><img src="images/overview.png" alt=""></div>
      </div>
      <div class="overview__ad--lowerblock">
        <img src="images/Logo_Parade.png">
        <div class="overview__ad--lowerblock-text">Perfectly integrated with the tools that are already part of your infrastructure</div>
      </div>
    </div>
  </div>

  <div class="reshaping">
    <div class="reshaping__content">
      <div class="reshaping__content--header">Learn how companies</br>automate security with Templarbit</div>
      <div class="reshaping__content--description">Intel Agents deployed across the app stack will monitor and detect attacks. Templarbit will then block threats and provide you with actionable security insights in real-time.</div>
      <a class="reshaping__content--link" href="#">Discover how</a>
    </div>
    <div class="reshaping__image">
      <img src="images/reshaping.png" alt="">
    </div>
  </div>

  <div class="getstarted">
    <div class="getstarted__try">
      <h1 class="getstarted__try--header">Ready to get started?</h1>
      <h1 class="getstarted__try--header-sub">Try Templarbit free for 14 days.</h1>
      <div class="getstarted__try--description">3 min installation · Try all features for 14 days · No credit card required</div>
      <form class="getstarted__try--container">
        <input class="getstarted__try--container-email" placeholder="Email Adress">
        <button type="submit" class="getstarted__try--container-button main__button">Get started<img src="images/rightarrowW.png" class="buttonarrow"></button>
      </form>
    </div>
    <div class="fl">
    <div class="getstarted__testamonials">
      <div class="getstarted__testamonials--quote getstarted__testamonials--quote-first">
          <div class="getstarted__testamonials--quote-avatar"><img src="images/avatar1.png"></div>
          <div class="getstarted__testamonials--quote-content">
            <div class="getstarted__testamonials--quote-content-header">“The team behind Templarbit has leverage their deep security expertise to build a product that makes the web more secure.”</div>
            <div class="getstarted__testamonials--quote-content-description">
              <div class="getstarted__testamonials--quote-content-description-logo"><img src="images/logo1.png"></div>
              <div class="getstarted__testamonials--quote-content-description-text">
                <div class="getstarted__testamonials--quote-content-description-text-name">Tammy Sun</div>
                <div class="getstarted__testamonials--quote-content-description-text-company">CEO at Carrot</div>
              </div>
            </div>
          </div>
      </div>
      <div class="getstarted__testamonials--quote getstarted__testamonials--quote-second">
          <div class="getstarted__testamonials--quote-avatar"><img src="images/avatar2.png"></div>
          <div class="getstarted__testamonials--quote-content">
            <div class="getstarted__testamonials--quote-content-header">“The best way to augment your teams security efforts and deploy a defense that actually works and shows what’s going on. ”</div>
            <div class="getstarted__testamonials--quote-content-description">
              <div class="getstarted__testamonials--quote-content-description-logo"><img src="images/logo2.png"></div>
              <div class="getstarted__testamonials--quote-content-description-text getstarted__testamonials--quote-content-description-textsecond">
                <div class="getstarted__testamonials--quote-content-description-text-name">Ram Reddi</div>
                <div class="getstarted__testamonials--quote-content-description-text-company">Director of Product at Match.com</div>
              </div>
            </div>
          </div>
      </div>
      <div class="getstarted__testamonials--quote getstarted__testamonials--quote-third">
          <div class="getstarted__testamonials--quote-avatar"><img src="images/avatar3.png"></div>
          <div class="getstarted__testamonials--quote-content">
            <div class="getstarted__testamonials--quote-content-header">“Templarbit ensures that your team can stay on top of things by surfacing security threats in a format everyone can understand ”</div>
            <div class="getstarted__testamonials--quote-content-description">
              <div class="getstarted__testamonials--quote-content-description-logo"><img src="images/logo3.png"></div>
              <div class="getstarted__testamonials--quote-content-description-text getstarted__testamonials--quote-content-description-textthird">
                <div class="getstarted__testamonials--quote-content-description-text-name">Tobi Knaup</div>
                <div class="getstarted__testamonials--quote-content-description-text-company">CTO at Mesosphere</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  </div>

  <footer class="footer">
    <div class="footer__main">
      <div class="footer__main--block">
        <div class="footer__main--block-header">product</div>
        <div class="footer__main--block-content">
          <a class="footer__main--block-content-link" href="#">Product Overview</a>
          <a class="footer__main--block-content-link" href="#">Pricing</a>
          <a class="footer__main--block-content-link" href="#">Request Demo</a>
        </div>
      </div>
      <div class="footer__main--block">
        <div class="footer__main--block-header">Resources</div>
        <div class="footer__main--block-content">
          <a class="footer__main--block-content-link" href="#">Documentation</a>
          <a class="footer__main--block-content-link" href="#">Blog</a>
          <a class="footer__main--block-content-link" href="#">The Engineering Hangout</a>
          <a class="footer__main--block-content-link" href="#">For Startups</a>
          <a class="footer__main--block-content-link" href="#">Security Check</a>
        </div>
      </div>
      <div class="footer__main--block">
        <div class="footer__main--block-header">Company</div>
        <div class="footer__main--block-content">
          <a class="footer__main--block-content-link" href="#">About Us</a>
          <a class="footer__main--block-content-link" href="#">Press</a>
          <a class="footer__main--block-content-link" href="#">Contact Us</a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom--logo">
        <img src="images/logo.png">
        <div class="footer__bottom--logo-text">© 2018 Templarbit Inc.</div>
      </div>
      <div class="footer__bottom--links">
        <a class="footer__bottom--links-link">Terms of Use</a>
        <a class="footer__bottom--links-link">Privacy Policy</a>
        <a class="footer__bottom--links-link">Security</a>
      </div>
      <div class="footer__bottom--social">
        <a href=""><img src="images/twitter.png"></a> 
        <a href=""><img src="images/instagram.png"></a>
      </div>
    </div>
  </footer>


</body>
</html>